<div class="h-14">
<h1><%= @post.title%> by <%=@user.name%></h1>
<%=@post.text%>
</div>

<div class="h-auto m-auto border-green-500 ">
<ul>
<% @comments.each do |comment|%>

<li><%=@user.name%>:<%=comment.text%></li>
<%end%>
</ul>
</div>